body {
  vertical-align: center;
    width: 70%;
    margin: auto;
    background-color: bisque;
}

.container
{
    
     display: flex;
     height: 100vh;

}

.container1
{
    
    height: 100%;
    float: left;
    margin-right: 4%;
}


.container2
{
    
    height: 100%;
    float: right;
}

